@{
    ViewData["Title"] = "Jak to działa?";
}


<h2>Zapisz się na wycieczkę</h2>

Przejdź do <a asp-controller="Trip" asp-action="Index"> Dostępne Wycieczki</a> aby przejrzeć katalog ofert umieszczonych przez innych użytkowników SingleRoom. Jeśli któraś Cię zainteresuje kliknij <i>Dopisz się</i>.
Pojawi się potwierdzenie wraz z adresem email współtowarzysza/współtowarzyszki. Skontaktuj się z autorem ogłoszenia bezpośrednio na podany adres, aby dogadać szczegóły.
<br>
<hr>
<h2>Stwórz Podróż</h2>
Przejdź do <a asp-controller="Trip" asp-action="Create">
    Stwórz Podróż</a> aby umieścić swoje ogłoszenie. Podaj wymagane szczegóły, potwierdź i czekaj aż ktoś zaakceptuje Twoje ogłoszenie i skontaktuje się z Tobą.
Po pierwszym zapisie ogłoszenie automatycznie zniknie dla innych użytkowników.
Jeśli chcesz usunąć ofertę skontaktuj się z adminem na adres admin@admin.com.
<br>
<hr>
