@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">

    <h2>Czym jest <i>SingleRoom</i></h2>
    Marzy Ci się wyjazd z biura podróży, ale nie masz z kim, a nie widzi Ci się dopłacanie 30% do podstawowej ceny wycieczki? SingleRoom umożliwia znaleznienie towarzysza podróży, który dzieliłby z Tobą pokój.
    <br>
    <hr>
    <h2>Jak to działa?</h2>
    Zajrzyj do <a asp-controller="Home" asp-action="HowItWorks">Jak to działa</a>, żeby poznań szczegóły tworzenia i rezerwowania oferty.
    <br>
    <hr>
    <h2>Czy to bezpieczne?</h2>
    Zajrzyj do <a asp-controller="Home" asp-action="Privacy"> Kontakt i Bezpieczeństwo</a>, aby dowiedzieć się jak podróżować z naszą stroną w bezpieczny sposób.
    <br>
    <hr>
</div>
