@{
    ViewData["Title"] = "Kontakt i bezpieczeństwo";
}

<h2>Odpowiedzialność prawna</h2>
Administrator strony nie ponosi odpowiedzialności za czyny strony poznanej poprzez stronę.
<br>
<hr>
<h2>Ubezpieczenie</h2>
Pamiętaj o wykupieniu ubezpieczenia od nieszczęśliwych wypadków przy podróżowaniu. Przy większości wyjazdów z biura podróży jest ono obowiązkowe.
<br>
<hr>
<h2>Ogólne zasady bezpieczeństwa</h2>
Ze współtowarzyszem/współtowarzyszką podróży spotykaj się przed podróżą tylko w miejsu publicznym. Powiadom swoją rodzinę i bliskich gdzie i w jakim terminie jedziesz.
<br>
<hr>
<h2>
Kontakt do administratorów strony</h2>
Kontakt do mnie: 0700880774.
<i>admin@admin.com</i>
